################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.db-shm
*.db
*.suo
*.opendb
*.db-wal
*.o
*.tlog
*.log
*.sprx
*.a
*.txt
